.pagnating{
    width: max-content;
    height: max-content;
    background: white;
    border: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.texting{
    margin-left: 2px;
    size: 20px;
    display: block;

}