input[disabled] {
    opacity: 1 !important;
    background-color:#444;
    /* Add any other desired styles here */
  }

input-normal:disabled {
    color: black; /* or any color you prefer */
    opacity: 1; /* ensures the text is not faded */
}
  
  .yourInfo {
      font-family: Verdana;
      margin: auto;
      text-align: center;
      padding-top: 50px;
  }

  .input-normal {
    color: black; /* Or any color you prefer */
    opacity: 1; /* Ensures the text is not faded */
    /* Add other styling as needed */
}
  
  .form-container {
      width: 500px;
      margin: auto;
      margin-top: 50px;
    }
    
    .form-container form {
      display: grid;
      gap: 10px;
    }
    
    .form-container label {
      font-weight: bold;
    }
    
    .form-container input {
      width: 100%;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
      
      font-weight: 500;
    }

  
    .changepasswordblock{
      width: 150px;
      margin: auto;
      text-align: center;
    }
    
    .changePassword {
      width: 135px;
      margin: 20px auto;
      text-align: center;
      font-weight: bold;
      color: blue;
      cursor: pointer;
      transition-duration: 0.5s;
    }
  
    .changePassword:hover {
      text-decoration: underline;
    }
  
    .Info {
      text-align: center;
      margin: auto;
    }
  
    .changeInfo {
      width: 300px;
      background-color: #1100ff; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: auto;
      margin-left: 20px;
      cursor: pointer;
      border-radius: 8px;
      transition-duration: 0.5s;
    }
  
    .changeInfo:hover {
      opacity: 0.8;
    }
  
    .cancelInfo {
      width: 150px;
      background-color: #ff0000; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: auto;
      margin-right: 20px;
      border-radius: 8px;
      cursor: pointer;
      transition-duration: 0.5s;
    }
  
    .cancelInfo:hover {
      opacity: 0.8;
    }
  
    .saveInfo {
      width: 150px;
      background-color: #04AA6D;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: auto;
      border-radius: 8px;
      cursor: pointer;
      transition-duration: 0.5s;
    }
  
    .saveInfo:hover {
      opacity: 0.8;
    }
